<h4>Registro de cliente</h4>
  <div class="form-group">
    <label for="name">Nombres</label>
    <input type="text" class="form-control form-control-sm" id="name" placeholder="Ej. Juan" #name />
  </div>
  <div class="form-group">
    <label for="Apellidos">Password</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="lastname"
      #lastname
      placeholder="Ej. Montalvo"
    />
  </div>
  <div class="form-group">
    <label for="birthdate">Fecha de nacimiento</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="birthdate"
      #birthdate
      placeholder="Ej. 01/01/2019"
    />
  </div>
  <button type="button" class="btn btn-primary" (click)="create(name.value, lastname.value, birthdate.value)">Registrar</button>&nbsp;
  <button type="button" class="btn btn-light" [routerLink]="['/clients']">Cancelar</button>

